body{
    background-color: papayawhip;
}
#countlabel{
    display: block;
    font-size: 10em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btncontainer{
    text-align: center;
}
.buttons{
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: rgb(96, 232, 239);
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px solid black;
    transition:background-color 0.25s;
}
.buttons:hover{
    background: rgb(44, 127, 251);
}
